@media (max-width:768px) {
  .pro1container0row0,
  .style0 {
    display: flex;
    align-items: center
  }
  .style0 {
    background-color: #ffcdc0;
    margin-left: 0;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    width: 376px;
    height: 21px
  }
  .pro1container0row0 {
    width: 354px;
    height: 13px
  }
  .style27 {
    background-color: #ff620a;
    margin-left: 0;
    width: 39px;
    height: 100%
  }
  .style47 {
    color: rgba(112,112,112,.699999988079071);
    font-family: Roboto,serif;
    font-size: .375em;
    margin-left: 5px;
    height: 8px
  }
  .style44 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 68px;
    width: 16px;
    height: 8px;
    align-items: stretch;
    flex-direction: column
  }
  .style45 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .375em;
    height: 8px
  }
  .style41 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 9px;
    width: 16px;
    height: 8px;
    align-items: stretch;
    flex-direction: column
  }
  .style42 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .375em;
    height: 8px
  }
  .style38 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 9px;
    width: 16px;
    height: 8px;
    align-items: stretch;
    flex-direction: column
  }
  .style39 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .375em;
    height: 8px
  }
  .style35 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 10px;
    width: 16px;
    height: 8px;
    align-items: stretch;
    flex-direction: column
  }
  .style36 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .375em;
    height: 8px
  }
  .style32 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 8px;
    width: 16px;
    height: 8px;
    align-items: center;
    flex-direction: column
  }
  .style33 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .375em;
    height: 8px
  }
  .style29 {
    background-color: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    margin-left: 10px;
    width: 59px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style30 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: .3125em;
    height: 6px
  }
  .style28 {
    margin-left: 0;
    margin-top: 0;
    width: 376px;
    height: 141px
  }
  .style1,
  .style2 {
    display: flex;
    height: 177px;
    flex-direction: column
  }
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/1tryq7ck0pengfo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    margin-top: 0;
    width: 376px;
    align-items: stretch
  }
  .style2 {
    background-color: rgba(255,204,192,.7019607843137254);
    align-items: center
  }
  .style12,
  .style13 {
    color: #000;
    font-family: Roboto,serif
  }
  .style13 {
    font-weight: 700;
    font-size: 1.0625em;
    margin-top: 54px;
    height: 22px
  }
  .style12 {
    font-size: .5em;
    margin-top: 9px;
    height: 10px
  }
  .style3 {
    background-color: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    margin-top: 13px;
    width: 46px;
    height: 15px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style4 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: .5em;
    height: 10px
  }
  .style6 {
    background-color: rgba(230,78,13,.7490196078431373);
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 376px;
    height: 65px;
    flex-direction: column
  }
  .pro1container2row0,
  .style14 {
    display: flex;
    align-items: stretch
  }
  .pro1container2row0 {
    margin-left: 19px;
    margin-top: 38px;
    height: 6px;
    justify-content: space-between;
    width: 126px
  }
  .style14 {
    background-color: #ec7a49;
    width: 17px;
    flex-direction: column
  }
  .style15 {
    height: 6px
  }
  .style15,
  .style18,
  .style21,
  .style24 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: .3125em;
    font-weight: 700;
    text-decoration: underline solid #fff
  }
  .style7 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 376px;
    height: 45px;
    flex-direction: column
  }
  .pro1container3row0 {
    display: flex;
    margin-left: 20px;
    margin-top: 18px;
    width: 189px;
    height: 14px;
    align-items: center
  }
  .style8 {
    margin-left: 0;
    width: 39px;
    height: 100%
  }
  .style26 {
    color: #4c4c4c;
    font-family: Roboto,serif;
    font-size: .1875em;
    font-weight: 500;
    margin-left: 2px;
    height: 4px
  }
  .style9 {
    background-color: #66a74f;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    margin-left: 24px;
    width: 44px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style10 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: .3125em;
    font-weight: 700;
    height: 6px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .pro2container0row0,
  .style48 {
    display: flex;
    align-items: center
  }
  .style48 {
    background-color: #ffcdc0;
    margin-left: 0;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    width: 376px;
    height: 21px
  }
  .pro2container0row0 {
    width: 354px;
    height: 13px
  }
  .style68 {
    background-color: #ff620a;
    margin-left: 0;
    width: 39px;
    height: 100%
  }
  .style88 {
    color: rgba(112,112,112,.699999988079071);
    font-family: Roboto,serif;
    font-size: .375em;
    margin-left: 5px;
    height: 8px
  }
  .style85 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 68px;
    width: 16px;
    height: 8px;
    align-items: stretch;
    flex-direction: column
  }
  .style86 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .375em;
    height: 8px
  }
  .style82 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 9px;
    width: 16px;
    height: 8px;
    align-items: stretch;
    flex-direction: column
  }
  .style83 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .375em;
    height: 8px
  }
  .style79 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 9px;
    width: 16px;
    height: 8px;
    align-items: stretch;
    flex-direction: column
  }
  .style80 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .375em;
    height: 8px
  }
  .style76 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 10px;
    width: 16px;
    height: 8px;
    align-items: stretch;
    flex-direction: column
  }
  .style77 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .375em;
    height: 8px
  }
  .style73 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 8px;
    width: 16px;
    height: 8px;
    align-items: center;
    flex-direction: column
  }
  .style74 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .375em;
    height: 8px
  }
  .style70 {
    background-color: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    margin-left: 10px;
    width: 59px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style71 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: .3125em;
    height: 6px
  }
  .style69 {
    background-image: url(https://designresources.assets.yotako.io/1tryq7ck0penj8m.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 376px;
    height: 141px;
    flex-direction: column
  }
  .style95 {
    margin-left: 70px;
    margin-top: 7px;
    width: 0;
    height: 0
  }
  .pro2row2 {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
    width: 347px;
    height: 155px
  }
  .style89 {
    margin-left: 0;
    width: 183px;
    height: 100%;
    align-self: stretch
  }
  .pro2row2column1,
  .style90 {
    display: flex;
    flex-direction: column
  }
  .pro2row2column1 {
    margin-left: 14px;
    margin-top: 4px;
    width: 151px;
    height: 142px
  }
  .style90 {
    background-color: #ec7a4a;
    margin-top: 0;
    width: 100%;
    height: 36px;
    align-items: center;
    align-self: stretch;
    justify-content: center
  }
  .style91,
  .style92 {
    font-family: Roboto,serif;
    font-size: .5625em
  }
  .style91 {
    color: #fff;
    height: 13px
  }
  .style92 {
    color: rgba(0,0,0,.699999988079071);
    margin-left: 19px;
    margin-top: 18px;
    height: 55px
  }
  .style93 {
    background-color: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    margin-left: 19px;
    margin-top: 12px;
    width: 71px;
    height: 22px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style94 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: .5625em;
    height: 11px
  }
  .style49 {
    background-color: rgba(230,78,13,.7490196078431373);
    display: flex;
    margin-left: 0;
    margin-top: 11px;
    width: 376px;
    height: 65px;
    flex-direction: column
  }
  .pro2container1row0,
  .style55 {
    display: flex;
    align-items: stretch
  }
  .pro2container1row0 {
    margin-left: 19px;
    margin-top: 38px;
    height: 6px;
    justify-content: space-between;
    width: 126px
  }
  .style55 {
    background-color: #ec7a49;
    width: 17px;
    flex-direction: column
  }
  .style56 {
    height: 6px
  }
  .style56,
  .style59,
  .style62,
  .style65 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: .3125em;
    font-weight: 700;
    text-decoration: underline solid #fff
  }
  .style50 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 376px;
    height: 45px;
    flex-direction: column
  }
  .pro2container2row0 {
    display: flex;
    margin-left: 20px;
    margin-top: 18px;
    width: 189px;
    height: 14px;
    align-items: center
  }
  .style51 {
    margin-left: 0;
    width: 39px;
    height: 100%
  }
  .style67 {
    color: #4c4c4c;
    font-family: Roboto,serif;
    font-size: .25em;
    font-weight: 500;
    margin-left: 2px;
    height: 4px
  }
  .style52 {
    background-color: #66a74f;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    margin-left: 11px;
    width: 44px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style53 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: .3125em;
    font-weight: 700;
    height: 6px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .pro1container0row0,
  .style0 {
    display: flex;
    align-items: center
  }
  .style0 {
    background-color: #ffcdc0;
    margin-left: 0;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    width: 770px;
    height: 43px
  }
  .pro1container0row0 {
    width: 725px;
    height: 27px
  }
  .style27 {
    background-color: #ff620a;
    margin-left: 0;
    width: 80px;
    height: 100%
  }
  .style47 {
    color: rgba(112,112,112,.699999988079071);
    font-family: Roboto,serif;
    font-size: .768em;
    margin-left: 10px;
    height: 16px
  }
  .style44 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 139px;
    width: 33px;
    height: 16px;
    align-items: stretch;
    flex-direction: column
  }
  .style45 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .768em;
    height: 16px
  }
  .style41 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 18px;
    width: 33px;
    height: 16px;
    align-items: stretch;
    flex-direction: column
  }
  .style42 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .768em;
    height: 16px
  }
  .style38 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 18px;
    width: 33px;
    height: 16px;
    align-items: stretch;
    flex-direction: column
  }
  .style39 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .768em;
    height: 16px
  }
  .style35 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 20px;
    width: 33px;
    height: 16px;
    align-items: stretch;
    flex-direction: column
  }
  .style36 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .768em;
    height: 16px
  }
  .style32 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 16px;
    width: 33px;
    height: 16px;
    align-items: center;
    flex-direction: column
  }
  .style33 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .768em;
    height: 16px
  }
  .style29 {
    background-color: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    margin-left: 20px;
    width: 121px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style30 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: .64em;
    height: 12px
  }
  .style28 {
    margin-left: 0;
    margin-top: 0;
    width: 770px;
    height: 289px
  }
  .style1,
  .style2 {
    display: flex;
    height: 362px;
    flex-direction: column
  }
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/1tryq7ck0pengfo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    margin-top: 0;
    width: 770px;
    align-items: stretch
  }
  .style2 {
    background-color: rgba(255,204,192,.7019607843137254);
    align-items: center
  }
  .style12,
  .style13 {
    color: #000;
    font-family: Roboto,serif
  }
  .style13 {
    font-weight: 700;
    font-size: 2.176em;
    margin-top: 111px;
    height: 45px
  }
  .style12 {
    font-size: 1.024em;
    margin-top: 18px;
    height: 20px
  }
  .style3 {
    background-color: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    margin-top: 27px;
    width: 94px;
    height: 31px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style4 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: 1.024em;
    height: 20px
  }
  .style6 {
    background-color: rgba(230,78,13,.7490196078431373);
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 770px;
    height: 133px;
    flex-direction: column
  }
  .pro1container2row0,
  .style14 {
    display: flex;
    align-items: stretch
  }
  .pro1container2row0 {
    margin-left: 39px;
    margin-top: 78px;
    height: 12px;
    justify-content: space-between;
    width: 258px
  }
  .style14 {
    background-color: #ec7a49;
    width: 35px;
    flex-direction: column
  }
  .style15 {
    height: 12px
  }
  .style15,
  .style18,
  .style21,
  .style24 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: .64em;
    font-weight: 700;
    text-decoration: underline solid #fff
  }
  .style7 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 770px;
    height: 92px;
    flex-direction: column
  }
  .pro1container3row0 {
    display: flex;
    margin-left: 41px;
    margin-top: 37px;
    width: 387px;
    height: 29px;
    align-items: center
  }
  .style8 {
    margin-left: 0;
    width: 80px;
    height: 100%
  }
  .style26 {
    color: #4c4c4c;
    font-family: Roboto,serif;
    font-size: .384em;
    font-weight: 500;
    margin-left: 4px;
    height: 8px
  }
  .style9 {
    background-color: #66a74f;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    margin-left: 49px;
    width: 90px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style10 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: .64em;
    font-weight: 700;
    height: 12px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .pro2container0row0,
  .style48 {
    display: flex;
    align-items: center
  }
  .style48 {
    background-color: #ffcdc0;
    margin-left: 0;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    width: 770px;
    height: 43px
  }
  .pro2container0row0 {
    width: 725px;
    height: 27px
  }
  .style68 {
    background-color: #ff620a;
    margin-left: 0;
    width: 80px;
    height: 100%
  }
  .style88 {
    color: rgba(112,112,112,.699999988079071);
    font-family: Roboto,serif;
    font-size: .768em;
    margin-left: 10px;
    height: 16px
  }
  .style85 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 139px;
    width: 33px;
    height: 16px;
    align-items: stretch;
    flex-direction: column
  }
  .style86 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .768em;
    height: 16px
  }
  .style82 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 18px;
    width: 33px;
    height: 16px;
    align-items: stretch;
    flex-direction: column
  }
  .style83 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .768em;
    height: 16px
  }
  .style79 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 18px;
    width: 33px;
    height: 16px;
    align-items: stretch;
    flex-direction: column
  }
  .style80 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .768em;
    height: 16px
  }
  .style76 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 20px;
    width: 33px;
    height: 16px;
    align-items: stretch;
    flex-direction: column
  }
  .style77 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .768em;
    height: 16px
  }
  .style73 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 16px;
    width: 33px;
    height: 16px;
    align-items: center;
    flex-direction: column
  }
  .style74 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .768em;
    height: 16px
  }
  .style70 {
    background-color: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    margin-left: 20px;
    width: 121px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style71 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: .64em;
    height: 12px
  }
  .style69 {
    background-image: url(https://designresources.assets.yotako.io/1tryq7ck0penj8m.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 770px;
    height: 289px;
    flex-direction: column
  }
  .style95 {
    margin-left: 143px;
    margin-top: 14px;
    width: 0;
    height: 0
  }
  .pro2row2 {
    display: flex;
    margin-left: 41px;
    margin-top: 20px;
    width: 711px;
    height: 317px
  }
  .style89 {
    margin-left: 0;
    width: 375px;
    height: 100%;
    align-self: stretch
  }
  .pro2row2column1,
  .style90 {
    display: flex;
    flex-direction: column
  }
  .pro2row2column1 {
    margin-left: 29px;
    margin-top: 8px;
    width: 309px;
    height: 291px
  }
  .style90 {
    background-color: #ec7a4a;
    margin-top: 0;
    width: 100%;
    height: 74px;
    align-items: center;
    align-self: stretch;
    justify-content: center
  }
  .style91,
  .style92 {
    font-family: Roboto,serif;
    font-size: 1.1520000000000001em
  }
  .style91 {
    color: #fff;
    height: 27px
  }
  .style92 {
    color: rgba(0,0,0,.699999988079071);
    margin-left: 39px;
    margin-top: 37px;
    height: 113px
  }
  .style93 {
    background-color: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    margin-left: 39px;
    margin-top: 25px;
    width: 145px;
    height: 45px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style94 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: 1.1520000000000001em;
    height: 23px
  }
  .style49 {
    background-color: rgba(230,78,13,.7490196078431373);
    display: flex;
    margin-left: 0;
    margin-top: 23px;
    width: 770px;
    height: 133px;
    flex-direction: column
  }
  .pro2container1row0,
  .style55 {
    display: flex;
    align-items: stretch
  }
  .pro2container1row0 {
    margin-left: 39px;
    margin-top: 78px;
    height: 12px;
    justify-content: space-between;
    width: 258px
  }
  .style55 {
    background-color: #ec7a49;
    width: 35px;
    flex-direction: column
  }
  .style56 {
    height: 12px
  }
  .style56,
  .style59,
  .style62,
  .style65 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: .64em;
    font-weight: 700;
    text-decoration: underline solid #fff
  }
  .style50 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 770px;
    height: 92px;
    flex-direction: column
  }
  .pro2container2row0 {
    display: flex;
    margin-left: 41px;
    margin-top: 37px;
    width: 387px;
    height: 29px;
    align-items: center
  }
  .style51 {
    margin-left: 0;
    width: 80px;
    height: 100%
  }
  .style67 {
    color: #4c4c4c;
    font-family: Roboto,serif;
    font-size: .512em;
    font-weight: 500;
    margin-left: 4px;
    height: 8px
  }
  .style52 {
    background-color: #66a74f;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    margin-left: 23px;
    width: 90px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style53 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: .64em;
    font-weight: 700;
    height: 12px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .pro1container0row0,
  .style0 {
    display: flex;
    align-items: center
  }
  .style0 {
    background-color: #ffcdc0;
    margin-left: 0;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    width: 922px;
    height: 52px
  }
  .pro1container0row0 {
    width: 868px;
    height: 32px
  }
  .style27 {
    background-color: #ff620a;
    margin-left: 0;
    width: 96px;
    height: 100%
  }
  .style47 {
    color: rgba(112,112,112,.699999988079071);
    font-family: Roboto,serif;
    font-size: .9199999999999999em;
    margin-left: 12px;
    height: 20px
  }
  .style44 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 167px;
    width: 39px;
    height: 20px;
    align-items: stretch;
    flex-direction: column
  }
  .style45 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .9199999999999999em;
    height: 20px
  }
  .style41 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 22px;
    width: 39px;
    height: 20px;
    align-items: stretch;
    flex-direction: column
  }
  .style42 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .9199999999999999em;
    height: 20px
  }
  .style38 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 22px;
    width: 39px;
    height: 20px;
    align-items: stretch;
    flex-direction: column
  }
  .style39 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .9199999999999999em;
    height: 20px
  }
  .style35 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 25px;
    width: 39px;
    height: 20px;
    align-items: stretch;
    flex-direction: column
  }
  .style36 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .9199999999999999em;
    height: 20px
  }
  .style32 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 20px;
    width: 39px;
    height: 20px;
    align-items: center;
    flex-direction: column
  }
  .style33 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .9199999999999999em;
    height: 20px
  }
  .style29 {
    background-color: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    margin-left: 25px;
    width: 145px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style30 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: .7666666666666666em;
    height: 15px
  }
  .style28 {
    margin-left: 0;
    margin-top: 0;
    width: 922px;
    height: 346px
  }
  .style1,
  .style2 {
    display: flex;
    height: 434px;
    flex-direction: column
  }
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/1tryq7ck0pengfo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    margin-top: 0;
    width: 922px;
    align-items: stretch
  }
  .style2 {
    background-color: rgba(255,204,192,.7019607843137254);
    align-items: center
  }
  .style12,
  .style13 {
    color: #000;
    font-family: Roboto,serif
  }
  .style13 {
    font-weight: 700;
    font-size: 2.6066666666666665em;
    margin-top: 132px;
    height: 54px
  }
  .style12 {
    font-size: 1.2266666666666666em;
    margin-top: 22px;
    height: 25px
  }
  .style3 {
    background-color: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    margin-top: 32px;
    width: 113px;
    height: 37px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style4 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: 1.2266666666666666em;
    height: 25px
  }
  .style6 {
    background-color: rgba(230,78,13,.7490196078431373);
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 922px;
    height: 159px;
    flex-direction: column
  }
  .pro1container2row0,
  .style14 {
    display: flex;
    align-items: stretch
  }
  .pro1container2row0 {
    margin-left: 47px;
    margin-top: 93px;
    height: 15px;
    justify-content: space-between;
    width: 309px
  }
  .style14 {
    background-color: #ec7a49;
    width: 42px;
    flex-direction: column
  }
  .style15 {
    height: 15px
  }
  .style15,
  .style18,
  .style21,
  .style24 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: .7666666666666666em;
    font-weight: 700;
    text-decoration: underline solid #fff
  }
  .style7 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 922px;
    height: 110px;
    flex-direction: column
  }
  .pro1container3row0 {
    display: flex;
    margin-left: 49px;
    margin-top: 44px;
    width: 464px;
    height: 34px;
    align-items: center
  }
  .style8 {
    margin-left: 0;
    width: 96px;
    height: 100%
  }
  .style26 {
    color: #4c4c4c;
    font-family: Roboto,serif;
    font-size: .45999999999999996em;
    font-weight: 500;
    margin-left: 5px;
    height: 10px
  }
  .style9 {
    background-color: #66a74f;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    margin-left: 59px;
    width: 108px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style10 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: .7666666666666666em;
    font-weight: 700;
    height: 15px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .pro2container0row0,
  .style48 {
    display: flex;
    align-items: center
  }
  .style48 {
    background-color: #ffcdc0;
    margin-left: 0;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    width: 922px;
    height: 52px
  }
  .pro2container0row0 {
    width: 868px;
    height: 32px
  }
  .style68 {
    background-color: #ff620a;
    margin-left: 0;
    width: 96px;
    height: 100%
  }
  .style88 {
    color: rgba(112,112,112,.699999988079071);
    font-family: Roboto,serif;
    font-size: .9199999999999999em;
    margin-left: 12px;
    height: 20px
  }
  .style85 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 167px;
    width: 39px;
    height: 20px;
    align-items: stretch;
    flex-direction: column
  }
  .style86 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .9199999999999999em;
    height: 20px
  }
  .style82 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 22px;
    width: 39px;
    height: 20px;
    align-items: stretch;
    flex-direction: column
  }
  .style83 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .9199999999999999em;
    height: 20px
  }
  .style79 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 22px;
    width: 39px;
    height: 20px;
    align-items: stretch;
    flex-direction: column
  }
  .style80 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .9199999999999999em;
    height: 20px
  }
  .style76 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 25px;
    width: 39px;
    height: 20px;
    align-items: stretch;
    flex-direction: column
  }
  .style77 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .9199999999999999em;
    height: 20px
  }
  .style73 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 20px;
    width: 39px;
    height: 20px;
    align-items: center;
    flex-direction: column
  }
  .style74 {
    color: #000;
    font-family: Roboto,serif;
    font-size: .9199999999999999em;
    height: 20px
  }
  .style70 {
    background-color: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    margin-left: 25px;
    width: 145px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style71 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: .7666666666666666em;
    height: 15px
  }
  .style69 {
    background-image: url(https://designresources.assets.yotako.io/1tryq7ck0penj8m.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 922px;
    height: 346px;
    flex-direction: column
  }
  .style95 {
    margin-left: 172px;
    margin-top: 17px;
    width: 0;
    height: 0
  }
  .pro2row2 {
    display: flex;
    margin-left: 49px;
    margin-top: 25px;
    width: 851px;
    height: 380px
  }
  .style89 {
    margin-left: 0;
    width: 449px;
    height: 100%;
    align-self: stretch
  }
  .pro2row2column1,
  .style90 {
    display: flex;
    flex-direction: column
  }
  .pro2row2column1 {
    margin-left: 34px;
    margin-top: 10px;
    width: 370px;
    height: 348px
  }
  .style90 {
    background-color: #ec7a4a;
    margin-top: 0;
    width: 100%;
    height: 88px;
    align-items: center;
    align-self: stretch;
    justify-content: center
  }
  .style91,
  .style92 {
    font-family: Roboto,serif;
    font-size: 1.38em
  }
  .style91 {
    color: #fff;
    height: 32px
  }
  .style92 {
    color: rgba(0,0,0,.699999988079071);
    margin-left: 47px;
    margin-top: 44px;
    height: 135px
  }
  .style93 {
    background-color: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    margin-left: 47px;
    margin-top: 29px;
    width: 174px;
    height: 54px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style94 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: 1.38em;
    height: 27px
  }
  .style49 {
    background-color: rgba(230,78,13,.7490196078431373);
    display: flex;
    margin-left: 0;
    margin-top: 27px;
    width: 922px;
    height: 159px;
    flex-direction: column
  }
  .pro2container1row0,
  .style55 {
    display: flex;
    align-items: stretch
  }
  .pro2container1row0 {
    margin-left: 47px;
    margin-top: 93px;
    height: 15px;
    justify-content: space-between;
    width: 309px
  }
  .style55 {
    background-color: #ec7a49;
    width: 42px;
    flex-direction: column
  }
  .style56 {
    height: 15px
  }
  .style56,
  .style59,
  .style62,
  .style65 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: .7666666666666666em;
    font-weight: 700;
    text-decoration: underline solid #fff
  }
  .style50 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 922px;
    height: 110px;
    flex-direction: column
  }
  .pro2container2row0 {
    display: flex;
    margin-left: 49px;
    margin-top: 44px;
    width: 464px;
    height: 34px;
    align-items: center
  }
  .style51 {
    margin-left: 0;
    width: 96px;
    height: 100%
  }
  .style67 {
    color: #4c4c4c;
    font-family: Roboto,serif;
    font-size: .6133333333333333em;
    font-weight: 500;
    margin-left: 5px;
    height: 10px
  }
  .style52 {
    background-color: #66a74f;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    margin-left: 27px;
    width: 108px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style53 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: .7666666666666666em;
    font-weight: 700;
    height: 15px
  }
}
@media (min-width:1200px) {
  .pro1container0row0,
  .style0 {
    display: flex;
    align-items: center
  }
  .style0 {
    background-color: #ffcdc0;
    margin-left: 0;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    width: 1203px;
    height: 67px
  }
  .pro1container0row0 {
    width: 1133px;
    height: 42px
  }
  .style27 {
    background-color: #ff620a;
    margin-left: 0;
    width: 125px;
    height: 100%
  }
  .style47 {
    color: rgba(112,112,112,.699999988079071);
    font-family: Roboto,serif;
    font-size: 1.2000000000000002em;
    margin-left: 16px;
    height: 26px
  }
  .style44 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 218px;
    width: 51px;
    height: 26px;
    align-items: stretch;
    flex-direction: column
  }
  .style45 {
    color: #000;
    font-family: Roboto,serif;
    font-size: 1.2000000000000002em;
    height: 26px
  }
  .style41 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 29px;
    width: 51px;
    height: 26px;
    align-items: stretch;
    flex-direction: column
  }
  .style42 {
    color: #000;
    font-family: Roboto,serif;
    font-size: 1.2000000000000002em;
    height: 26px
  }
  .style38 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 29px;
    width: 51px;
    height: 26px;
    align-items: stretch;
    flex-direction: column
  }
  .style39 {
    color: #000;
    font-family: Roboto,serif;
    font-size: 1.2000000000000002em;
    height: 26px
  }
  .style35 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 32px;
    width: 51px;
    height: 26px;
    align-items: stretch;
    flex-direction: column
  }
  .style36 {
    color: #000;
    font-family: Roboto,serif;
    font-size: 1.2000000000000002em;
    height: 26px
  }
  .style32 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 26px;
    width: 51px;
    height: 26px;
    align-items: center;
    flex-direction: column
  }
  .style33 {
    color: #000;
    font-family: Roboto,serif;
    font-size: 1.2000000000000002em;
    height: 26px
  }
  .style29 {
    background-color: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    margin-left: 32px;
    width: 189px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style30 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: 1em;
    height: 19px
  }
  .style28 {
    margin-left: 0;
    margin-top: 0;
    width: 1203px;
    height: 451px
  }
  .style1,
  .style2 {
    display: flex;
    height: 566px;
    flex-direction: column
  }
  .style1 {
    background-image: url(https://designresources.assets.yotako.io/1tryq7ck0pengfo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    margin-top: 0;
    width: 1203px;
    align-items: stretch
  }
  .style2 {
    background-color: rgba(255,204,192,.7019607843137254);
    align-items: center
  }
  .style12,
  .style13 {
    color: #000;
    font-family: Roboto,serif
  }
  .style13 {
    font-weight: 700;
    font-size: 3.4000000000000004em;
    margin-top: 173px;
    height: 70px
  }
  .style12 {
    font-size: 1.6em;
    margin-top: 29px;
    height: 32px
  }
  .style3 {
    background-color: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    margin-top: 42px;
    width: 147px;
    height: 48px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style4 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: 1.6em;
    height: 32px
  }
  .style6 {
    background-color: rgba(230,78,13,.7490196078431373);
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1203px;
    height: 208px;
    flex-direction: column
  }
  .pro1container2row0,
  .style14 {
    display: flex;
    align-items: stretch
  }
  .pro1container2row0 {
    margin-left: 61px;
    margin-top: 122px;
    height: 19px;
    justify-content: space-between;
    width: 403px
  }
  .style14 {
    background-color: #ec7a49;
    width: 54px;
    flex-direction: column
  }
  .style15 {
    height: 19px
  }
  .style15,
  .style18,
  .style21,
  .style24 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: 1em;
    font-weight: 700;
    text-decoration: underline solid #fff
  }
  .style7 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1203px;
    height: 144px;
    flex-direction: column
  }
  .pro1container3row0 {
    display: flex;
    margin-left: 64px;
    margin-top: 58px;
    width: 605px;
    height: 45px;
    align-items: center
  }
  .style8 {
    margin-left: 0;
    width: 125px;
    height: 100%
  }
  .style26 {
    color: #4c4c4c;
    font-family: Roboto,serif;
    font-size: .6000000000000001em;
    font-weight: 500;
    margin-left: 6px;
    height: 13px
  }
  .style9 {
    background-color: #66a74f;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    margin-left: 77px;
    width: 141px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style10 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: 1em;
    font-weight: 700;
    height: 19px
  }
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .pro2container0row0,
  .style48 {
    display: flex;
    align-items: center
  }
  .style48 {
    background-color: #ffcdc0;
    margin-left: 0;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    width: 1203px;
    height: 67px
  }
  .pro2container0row0 {
    width: 1133px;
    height: 42px
  }
  .style68 {
    background-color: #ff620a;
    margin-left: 0;
    width: 125px;
    height: 100%
  }
  .style88 {
    color: rgba(112,112,112,.699999988079071);
    font-family: Roboto,serif;
    font-size: 1.2000000000000002em;
    margin-left: 16px;
    height: 26px
  }
  .style85 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 218px;
    width: 51px;
    height: 26px;
    align-items: stretch;
    flex-direction: column
  }
  .style86 {
    color: #000;
    font-family: Roboto,serif;
    font-size: 1.2000000000000002em;
    height: 26px
  }
  .style82 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 29px;
    width: 51px;
    height: 26px;
    align-items: stretch;
    flex-direction: column
  }
  .style83 {
    color: #000;
    font-family: Roboto,serif;
    font-size: 1.2000000000000002em;
    height: 26px
  }
  .style79 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 29px;
    width: 51px;
    height: 26px;
    align-items: stretch;
    flex-direction: column
  }
  .style80 {
    color: #000;
    font-family: Roboto,serif;
    font-size: 1.2000000000000002em;
    height: 26px
  }
  .style76 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 32px;
    width: 51px;
    height: 26px;
    align-items: stretch;
    flex-direction: column
  }
  .style77 {
    color: #000;
    font-family: Roboto,serif;
    font-size: 1.2000000000000002em;
    height: 26px
  }
  .style73 {
    background-color: #ffcdc0;
    display: flex;
    margin-left: 26px;
    width: 51px;
    height: 26px;
    align-items: center;
    flex-direction: column
  }
  .style74 {
    color: #000;
    font-family: Roboto,serif;
    font-size: 1.2000000000000002em;
    height: 26px
  }
  .style70 {
    background-color: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    margin-left: 32px;
    width: 189px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style71 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: 1em;
    height: 19px
  }
  .style69 {
    background-image: url(https://designresources.assets.yotako.io/1tryq7ck0penj8m.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1203px;
    height: 451px;
    flex-direction: column
  }
  .style95 {
    margin-left: 224px;
    margin-top: 22px;
    width: 0;
    height: 0
  }
  .pro2row2 {
    display: flex;
    margin-left: 64px;
    margin-top: 32px;
    width: 1110px;
    height: 496px
  }
  .style89 {
    margin-left: 0;
    width: 586px;
    height: 100%;
    align-self: stretch
  }
  .pro2row2column1,
  .style90 {
    display: flex;
    flex-direction: column
  }
  .pro2row2column1 {
    margin-left: 45px;
    margin-top: 13px;
    width: 483px;
    height: 454px
  }
  .style90 {
    background-color: #ec7a4a;
    margin-top: 0;
    width: 100%;
    height: 115px;
    align-items: center;
    align-self: stretch;
    justify-content: center
  }
  .style91,
  .style92 {
    font-family: Roboto,serif;
    font-size: 1.8em
  }
  .style91 {
    color: #fff;
    height: 42px
  }
  .style92 {
    color: rgba(0,0,0,.699999988079071);
    margin-left: 61px;
    margin-top: 58px;
    height: 176px
  }
  .style93 {
    background-color: #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    margin-left: 61px;
    margin-top: 38px;
    width: 227px;
    height: 70px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style94 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: 1.8em;
    height: 35px
  }
  .style49 {
    background-color: rgba(230,78,13,.7490196078431373);
    display: flex;
    margin-left: 0;
    margin-top: 35px;
    width: 1203px;
    height: 208px;
    flex-direction: column
  }
  .pro2container1row0,
  .style55 {
    display: flex;
    align-items: stretch
  }
  .pro2container1row0 {
    margin-left: 61px;
    margin-top: 122px;
    height: 19px;
    justify-content: space-between;
    width: 403px
  }
  .style55 {
    background-color: #ec7a49;
    width: 54px;
    flex-direction: column
  }
  .style56 {
    height: 19px
  }
  .style56,
  .style59,
  .style62,
  .style65 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: 1em;
    font-weight: 700;
    text-decoration: underline solid #fff
  }
  .style50 {
    background-color: #fff;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1203px;
    height: 144px;
    flex-direction: column
  }
  .pro2container2row0 {
    display: flex;
    margin-left: 64px;
    margin-top: 58px;
    width: 605px;
    height: 45px;
    align-items: center
  }
  .style51 {
    margin-left: 0;
    width: 125px;
    height: 100%
  }
  .style67 {
    color: #4c4c4c;
    font-family: Roboto,serif;
    font-size: .8em;
    font-weight: 500;
    margin-left: 6px;
    height: 13px
  }
  .style52 {
    background-color: #66a74f;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    margin-left: 35px;
    width: 141px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .style53 {
    color: #fff;
    font-family: Roboto,serif;
    font-size: 1em;
    font-weight: 700;
    height: 19px
  }
}